<!DOCTYPE html>
<html>
<head>
  <title>Configuração do Ambiente</title>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
</head>
</head>
<body>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h1 class="mt-20 text-5xl font-bold text-blue-600 text-center">Configuração do Ambiente</h1>

<br>




<h2 class = "mt-5 text-3xl font-bold text-blue-500 text-center">Simuladores</h2>


<p class = "text-right mr-10">
  <%= link_to "Criar Simulador", new_simulator_path, class: 'bg-green-400 text-white font-bold py-2 px-4 rounded-full' %>
</p>

<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-10 text-center">
<% @simulators.each do |simulator| %>
  <div class="card border border-gray-300 bg-white shadow-lg rounded-3xl p-4 mb-4" style="width: 18rem; ">
    <div class="card-body">
      <h5 class="border-b-2 border-neutral-100 px-6 py-3 text-xl font-medium leading-tight dark:border-neutral-600"><%= simulator.name %></h5>
      <a id='ver-experimentos' href="/simulators/<%= simulator.id %>">Ver Experimentos</a>
      <% if simulator.disabled %>
      <p>
        <%= button_to "Desativado", toggle_simulator_path(simulator), method: :put, class: "button text-red-500" %></p>
</label>
      <% else %>
      <p>
        <%= button_to "Ativado", toggle_simulator_path(simulator), method: :put, class: "button text-green-500" %></p>
</label>
      <% end %>
      <%= button_to "Deletar Simulador", destroy_simulator_path(simulator), method: :delete %>
    </div>
  </div>

<% end %>
</div>
</body>
</html>
